.card-wrapper{
    position: relative;
    display:grid;
    flex-wrap: wrap;
    z-index: 1;
    grid-template-columns: 1fr 1fr 1fr;
    background:transparent;
    left:0;
    margin:0;
    transform:translateY(-35em);
}