/* Main App.css file */

html {
  height: 100%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background:#d2c4ae;
}

.wrapper {
  text-align: center;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 86px;
  background-color: #fff;
  color: #333;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-110%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.error-page{
  width: 100%;
  height: 70vh;
  align-self: center;
  justify-content: center;
  
}

.error-home-redirect{
  justify-content: center;
  align-items: center;
  position: absolute;
  top:30%;
  left: 10%;
  font-size: 150px;
  color: #DC143C;
}

.error-text{
  color:#333;
  font-size: 50px;
  text-align: center;
}

.error-arrow{
  justify-content: center;
  align-items: center;
  position: absolute;
  top:20%;
  left: 10%;
  font-size: 150px;
  color: #DC143C;

}











